table td .btn{
    margin: 0 3px;
}
.btn-group{
    margin: 15px 20px 15px 0px;
}
.btn-group .dropdown-menu{
    max-height: 120px;
    overflow-y: auto;
}
.table-responsive{
    max-height: calc(100vh - 310px);
    overflow-y: auto;
}