<div class="wrapper">
    <app-navbar [spiner]="spiner"></app-navbar>
    <div *ngIf="!spiner" class="content-wrapper">
        <app-page-head [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-page-head>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-tools col-12">
                                    <app-filters [searchName]="postBody.searchName"></app-filters>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th width="30px">L.p.</th>
                                            <th>{{ 'First name' | translate }} {{ 'Last name' | translate }}</th>
                                            <th>{{ 'E-mail' | translate }}</th>
                                            <th class="text-right"><a [routerLink]="['/add-user']" type="button" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> {{ 'Add' | translate }}</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of usersCollection">
                                            <td width="30px">{{ user.lp + ((postBody.page - 1) * postBody.limit) }}</td>
                                            <td><a class="default-link" [routerLink]="['/users', user.id]">{{user.firstName}} {{user.lastName}}</a></td>
                                            <td>{{user.email}}</td>
                                            <td class="text-right">
                                                <a class="btn btn btn-danger btn-sm btn-default edit"
                                                    [routerLink]="['/users', user.id]"><i
                                                        class="far fa-edit"></i></a>
                                                <button class="btn btn btn-danger btn-sm btn-danger"
                                                    (click)="openModal(user.id)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [title]="modalTitle"
                                [content]="modalContent" [itemId]="modalItemId"></app-modal>
                            <app-pagination [currentPage]="postBody.page" [currentLimit]="postBody.limit"
                                [lastPage]="lastPage"></app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer *ngIf="!spiner"></app-footer>
</div>