<div class="col-12 text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm">Wyświetaj: {{currentLimit}}</button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" (click)="setLimit(10)">10</a>
            <a class="dropdown-item" (click)="setLimit(30)">30</a>
            <a class="dropdown-item" (click)="setLimit(50)">50</a>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <button *ngIf="currentPage > 1" type="button" class="btn btn-default btn-sm" (click)="setPage(currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <div class="btn-group">
        <button [disabled]="selectPage" type="button" class="btn btn-default btn-sm">Strona: {{currentPage}}</button>
        <button [disabled]="selectPage" type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu" role="menu">
            <a *ngFor="let number of getNumbersArray(lastPage)" class="dropdown-item" (click)="setPage(number)">{{ number }}</a>
        </div>
    </div>
    <button *ngIf="currentPage < lastPage" type="button" class="btn btn-default btn-sm" (click)="setPage(currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>