<div class="wrapper">
  <app-navbar [spiner]="spiner"></app-navbar>
  <div *ngIf="!spiner" class="content-wrapper">
    <app-page-head [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-page-head>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!---->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 *ngIf="dashboardData.users">{{dashboardData.users}}</h3>
                <p>{{ 'Users' | translate }}</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-people"></i>
              </div>
              <a [routerLink]="['/users']" class="small-box-footer">{{ 'Go to' | translate }} <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 *ngIf="dashboardData.projects">{{dashboardData.projects}}</h3>
                <p>{{ 'Projects' | translate }}</p>
              </div>
              <div class="icon">
                <i class="ion ion-crop"></i>
              </div>
              <a [routerLink]="['/projects']" class="small-box-footer">{{ 'Go to' | translate }} <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer *ngIf="!spiner"></app-footer>
</div>