<div class="wrapper">
    <app-navbar [spiner]="spiner"></app-navbar>
    <div *ngIf="!spiner" class="content-wrapper">
        <app-page-head [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-page-head>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-tools col-12">
                                    <app-filters [searchName]="postBody.searchName"></app-filters>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th width="30px">L.p.</th>
                                            <th>{{ 'Name' | translate }}</th>
                                            <th>{{ 'Client' | translate }}</th>
                                            <th>{{ 'Deadline' | translate }}</th>
                                            <th>{{ 'Status' | translate }}</th>
                                            <th class="text-right">{{ 'Price' | translate }}</th>
                                            <th class="text-right"><a [routerLink]="['/add-user']" type="button" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> {{ 'Add' | translate }}</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let project of projectsCollection">
                                            <td width="30px">{{ project.lp + ((postBody.page - 1) * postBody.limit) }}</td>
                                            <td><a class="default-link" [routerLink]="['/projects', project.id]">{{project.name}}</a></td>
                                            <td><a *ngIf="project.client" class="default-link" [routerLink]="['/users', project.client.id]">{{project.client.name}}</a></td>
                                            <td>{{project.deadline}}</td>
                                            <td>
                                                <div class="badge {{project.status.class}} color-palette"><span>{{project.status.label}}</span></div>
                                            </td>
                                            <td class="text-right">{{project.price}}</td>
                                            <td class="text-right">
                                                <a class="btn btn btn-danger btn-sm btn-default edit"
                                                    [routerLink]="['/users', project.id]"><i
                                                        class="far fa-edit"></i></a>
                                                <button class="btn btn btn-danger btn-sm btn-danger"
                                                    (click)="openModal(project.id)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [title]="modalTitle"
                                [content]="modalContent" [itemId]="modalItemId"></app-modal>
                            <app-pagination [currentPage]="postBody.page" [currentLimit]="postBody.limit"
                                [lastPage]="lastPage"></app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer *ngIf="!spiner"></app-footer>
</div>