<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{pageTitle}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li *ngFor="let position of breadcrumbs" class="breadcrumb-item active">
                        <div *ngIf="position.link != null; else elseBlock">
                            <a [routerLink]="[position.link]">{{position.title}}</a>
                        </div>
                        <ng-template #elseBlock>
                            {{position.title}}
                        </ng-template>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>