<footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="http://pkdevelop.pl">PKDEVELOP</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a href="https://gitlab.com/PKDevelop/multipanelfront" class="default-link"><b>Version</b> 1.0.0</a>
    </div>
</footer>