<div class="input-group input-group-sm float-right" style="width: 250px;">
    <input type="text" id="searchName" class="form-control float-right" [value]="searchName">
    <div class="input-group-append">
        <button type="submit" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>