<div class="wrapper">
    <app-navbar [spiner]="spiner"></app-navbar>
    <div *ngIf="!spiner" class="content-wrapper">
        <app-page-head [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-page-head>
        <section *ngIf="user" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                        src="assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                                </div>
                                <h3 class="profile-username text-center">{{user.firstName}} {{user.lastName}}</h3>
                                <p class="text-muted text-center">{{user.position}}</p>
                            </div>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'To contact' | translate }}</h3>
                            </div>
                            <div class="card-body">
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> {{ 'Address' | translate
                                    }}</strong>
                                <p class="text-muted">{{user.addressLine}},<br> {{user.postCode}}
                                    {{user.addressCity}}<br>{{user.addressCountry}}</p>
                                <hr>
                                <i class="fas fa-solid fa-phone"></i>&nbsp;&nbsp;<a
                                    href="tel:{{user.phone}}">{{user.phone}}</a>
                                <hr>
                                <i class="fas fa-solid fa-envelope"></i>&nbsp;&nbsp;<a
                                    href="mailto:{{user.email}}">{{user.email}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#settings"
                                            data-toggle="tab">Settings</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="settings">
                                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                                            <input type="hidden" formControlName="id">
                                            <div class="form-group row">
                                                <label for="firstName" class="col-sm-2 col-form-label">{{ 'First
                                                    name' | translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" formControlName="firstName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastName" class="col-sm-2 col-form-label">{{ 'Last name'
                                                    | translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" formControlName="lastName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="addressLine" class="col-sm-2 col-form-label">{{ 'Address
                                                    line' | translate }}</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control"
                                                        formControlName="addressLine"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="addressPostCode" class="col-sm-2 col-form-label">{{
                                                    'Address post code' | translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                        formControlName="addressPostCode">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="addressCity" class="col-sm-2 col-form-label">{{ 'Address
                                                    city' | translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                        formControlName="addressCity">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="addressCountry" class="col-sm-2 col-form-label">{{
                                                    'Address country' | translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                        formControlName="addressCountry">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-2 col-form-label">{{ 'Phone' |
                                                    translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" formControlName="phone">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-2 col-form-label">{{ 'E-mail' |
                                                    translate }}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" formControlName="email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer *ngIf="!spiner"></app-footer>
</div>