<div class="wrapper">
    <app-navbar [spiner]="spiner"></app-navbar>
    <div *ngIf="!spiner" class="content-wrapper">
        <app-page-head [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-page-head>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                                        <input type="hidden" formControlName="id">
                                        <div class="form-group row">
                                            <label for="firstName" class="col-sm-2 col-form-label">
                                                {{ 'First name' | translate }}
                                                <span *ngIf="userForm.get('firstName')?.hasError('required')">*</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="firstName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lastName" class="col-sm-2 col-form-label">
                                                {{ 'Last name' | translate }}
                                                <span *ngIf="userForm.get('lastName')?.hasError('required')">*</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="lastName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="addressLine" class="col-sm-2 col-form-label">{{ 'Address
                                                line' | translate }}</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" formControlName="addressLine"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="addressPostCode" class="col-sm-2 col-form-label">{{ 'Address
                                                post code' | translate }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                    formControlName="addressPostCode">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="addressCity" class="col-sm-2 col-form-label">{{ 'Address
                                                city' | translate }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="addressCity">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="addressCountry" class="col-sm-2 col-form-label">{{ 'Address
                                                country' | translate }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                    formControlName="addressCountry">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone" class="col-sm-2 col-form-label">{{ 'Phone' |
                                                translate }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="phone">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-2 col-form-label">
                                                {{ 'E-mail' | translate }}
                                                <span
                                                    *ngIf="userForm.get('email')?.hasError('required') || userForm.get('email')?.hasError('email')">*</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label">
                                                {{ 'Password' | translate }}
                                                <span
                                                    *ngIf="userForm.get('password')?.hasError('required') || userForm.get('password')?.hasError('password')">*</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" formControlName="password" minlength="6">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button [disabled]="userForm.invalid" type="submit"
                                                    class="btn btn-danger">{{ 'Create' | translate }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer *ngIf="!spiner"></app-footer>
</div>