<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>Green</b>PANEL</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">{{ 'Log in to the system' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
          <div class="input-group mb-3">
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="authData.email" required
              placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="authData.password"
              required placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="registrationForm.invalid">{{ 'Log in' | translate }} <i *ngIf="spiner" class="fa-solid fas fa-circle-notch fa-spin"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>