<div *ngIf="spiner; else navbar" class="spiner-overlay">
  <i class="fa-solid fas fa-circle-notch fa-spin"></i>
</div>
<ng-template #navbar>
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">
        <!-- <span class="brand-text font-weight-light"><b>Green</b>PANEL</span> -->
        <img class="nav-logo" src="assets/logo.png" alt="User profile picture">
      </a>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link"></a>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle">{{ 'Users' | translate }}</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a [routerLink]="['/users']" class="dropdown-item">{{ 'List' | translate }}</a></li>
              <li><a [routerLink]="['/add-user']" class="dropdown-item">{{ 'Add' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          <a class="nav-link" title="Wyloguj" [routerLink]="['/login']">
            {{ 'Log out' | translate }} <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>