.spiner-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
    z-index: 10;
	background: rgb(42, 67, 105);
    /* background: linear-gradient(-45deg, #373434, #2a2527, #334e59, #182925); */
    /* background: linear-gradient(-45deg, #e7dddb, #e2c8d2, #c1dde8, #cbe7e1); */
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
    opacity: 0.4;
}
.spiner-overlay i{
    font-size: 80pt;
    color: rgb(255,255,255)
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.nav-logo{
	width: 120px;
}