<div class="modal fade show" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>{{ title }}</strong></h4>
            </div>
            <div class="modal-body">
                <p>{{ content }}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="closeModal()"><i class="fa-solid fas fa-times"></i> {{ 'Cancel' | translate }}</button>
                <button type="button" class="btn btn-success" (click)="confirm()"><i class="fa-solid fas fa-check"></i> {{ 'Confirm' | translate }}</button>
            </div>
        </div>
    </div>
</div>